﻿@model ParliamentaryDigital.Service.Models.Events
@{
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Parliamentary Digital Page</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
<form action="@Url.Action("Index","Home",new {Model.StartDate,Model.EndDate})" Method ="get">
<div class="col-lg-2">
    <div>
        @Html.LabelFor(m => m.StartDate)
        @Html.TextBoxFor(m => m.StartDate)
    </div>
    <div>
        @Html.LabelFor(m => m.EndDate)
        @Html.TextBoxFor(m => m.EndDate)
    </div>
    <input type="submit" @*class="hidden"*@ id="submit" @*disabled="disabled"*@/>
</div>
</form>
<div class="col-lg-6">
    @if (Model.Businesses.Any())
    {
        <div class="row">
            <ul class="card">
                @foreach (var ev in Model.Businesses)
                {
                    <li class="card">
                        @Html.HiddenFor(m => ev.Id)
                        <div>
                            @Html.LabelFor(m => ev.StartDate):@Html.DisplayFor(m => ev.StartDate)
                            @Html.LabelFor(m => ev.StartTime):@Html.DisplayFor(m => ev.StartTime)
                        </div>
                        <div>
                            @Html.LabelFor(m => ev.EndDate):@Html.DisplayFor(m => ev.EndDate)
                            @Html.LabelFor(m => ev.EndTime):@Html.DisplayFor(m => ev.EndTime)
                        </div>
                        <div>
                            @Html.LabelFor(m => ev.Description)
                            @Html.DisplayFor(m => ev.Description)
                        </div>
                        <input type="button" class="more" value="More"/>
                    </li>

                }
            </ul>
        </div>
    }
    else
    {
        <div>No records Found!!</div>
    }
</div>
</body>
<script type="text/javascript">
    $(function () {
        $("#StartDate").datepicker({ dateFormat: 'yy-mm-dd' });
    });
</script>
<script type="text/javascript">
    $(function () {
        $("#EndDate").datepicker({ dateFormat: 'yy-mm-dd' });
    });
</script>
<script type="text/javascript">
    $(function () {
        $(".more").click(function () {
            var selectedId = $(this).closest('li.card').find('[id^=ev_]').val();
            $.ajax({
                type: "POST",
                url: "/Home/EventDetails",
                data: JSON.stringify({
                    Id: selectedId,
                    StartDate: $("#StartDate").val(),
                    EndDate: $("#EndDate").val()
                }),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (event) {
                    alert("Category: " + event.Category + "\r\n" +
                        "Member: " + event.Members.MemberList[0].FullTitle + "\r\n" +
                        "Party: " + event.Members.MemberList[0].Party + "\r\n" + 
                        "Member From: " + event.Members.MemberList[0].MemberFrom);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>
@*<script type="text/javascript">
    $(function () {
        var startDate = $("#StartDate").val();
        var endDate = $("#EndDate").val();

        if (endDate.length === 10) {
            
        }
    });
</script>*@